"""{{ project_name }} package.

{{ project_description }}
"""

from importlib.metadata import PackageNotFoundError, version

{% if create_examples %}from {{ project_slug }}.app import create_app{% endif %}

try:
    __version__ = version('{{ project_slug }}')
except PackageNotFoundError:
    __version__ = 'unknown'

__author__ = """{{ author_fullname }}"""
__email__ = '{{ author_email }}'

__all__ = {% if create_examples %}['create_app']{% else %}[]{% endif %}
