"""CLI module."""

import logging
from pathlib import Path

{% if create_examples %}from jsonargparse import auto_cli

from {{ project_slug }}.nlp import train_boolq
from {{ project_slug }}.tabular import train_titanic
from {{ project_slug }}.vision import train_mnist
{% endif %}
ROOT_DIR = Path(__file__).resolve().parents[2]

logger = logging.getLogger(__name__)


{% if create_examples %}def nlp(
    max_epochs: int = 3,
    accelerator: str = 'auto',
    devices: str = 'auto',
    deterministic: bool = True,
    random_seed: int = 42,
) -> None:
    """NLP training CLI entrypoint.

    This command trains an NLP model using the specified configuration options.

    Args:
        max_epochs (int):
            Maximum number of training epochs. Defaults to 3.
        accelerator (str):
            Accelerator type (e.g., "cpu", "gpu", "tpu"). Defaults to "auto".
        devices (str):
            Number of devices to use for training. Can be an integer, a string
            ("auto"), or a list of device IDs. Defaults to "auto".
            However, due to limitation of typer, this should be a string.
        deterministic (bool):
            Whether to use deterministic algorithms for reproducibility.
            Sets the `torch.backends.cudnn.deterministic` flag. Defaults to True.
        random_seed (int):
            Random seed for reproducibility. Defaults to 42.
    """
    print('Starting NLP training...')
    print(f'Project root directory: {ROOT_DIR}')

    train_boolq(
        ROOT_DIR,
        max_epochs=max_epochs,
        accelerator=accelerator,
        devices=devices,
        deterministic=deterministic,
        random_seed=random_seed,
    )


def tabular(
    max_epochs: int = 10,
    accelerator: str = 'auto',
    devices: str = 'auto',
    deterministic: bool = True,
    random_seed: int = 42,
) -> None:
    """Vision training CLI entrypoint.

    This command trains a tabular model using the specified configuration options.

    Args:
        max_epochs (int):
            Maximum number of training epochs. Defaults to 10.
        accelerator (str):
            Accelerator type (e.g., "cpu", "gpu", "tpu"). Defaults to "auto".
        devices (str):
            Number of devices to use for training. Can be an integer, a string
            ("auto"), or a list of device IDs. Defaults to "auto".
            However, due to limitation of typer, this should be a string.
        deterministic (bool):
            Whether to use deterministic algorithms for reproducibility.
            Sets the `torch.backends.cudnn.deterministic` flag. Defaults to True.
        random_seed (int):
            Random seed for reproducibility. Defaults to 42.
    """
    print('Starting tabular training...')
    print(f'Project root directory: {ROOT_DIR}')

    train_titanic(
        ROOT_DIR,
        max_epochs=max_epochs,
        accelerator=accelerator,
        devices=devices,
        deterministic=deterministic,
        random_seed=random_seed,
    )


def vision(
    max_epochs: int = 3,
    accelerator: str = 'auto',
    devices: str = 'auto',
    deterministic: bool = True,
    random_seed: int = 42,
) -> None:
    """Vision training CLI entrypoint.

    This command trains a vision model using the specified configuration options.

    Args:
        max_epochs (int):
            Maximum number of training epochs. Defaults to 3.
        accelerator (str):
            Accelerator type (e.g., "cpu", "gpu", "tpu"). Defaults to "auto".
        devices (str):
            Number of devices to use for training. Can be an integer, a string
            ("auto"), or a list of device IDs. Defaults to "auto".
            However, due to limitation of typer, this should be a string.
        deterministic (bool):
            Whether to use deterministic algorithms for reproducibility.
            Sets the `torch.backends.cudnn.deterministic` flag. Defaults to True.
        random_seed (int):
            Random seed for reproducibility. Defaults to 42.
    """
    print('Starting vision training...')
    print(f'Project root directory: {ROOT_DIR}')

    train_mnist(
        ROOT_DIR,
        max_epochs=max_epochs,
        accelerator=accelerator,
        devices=devices,
        deterministic=deterministic,
        random_seed=random_seed,
    ){% endif %}


def hello() -> None:
    """Say hello to the user."""
    print('Hello, user!')


def main() -> None:
    """Main entrypoint for the CLI application."""
    auto_cli(
        {
            'hello': hello,
            'nlp': nlp,
            'tabular': tabular,
            'vision': vision,
        }
    )


if __name__ == '__main__':
    main()
