name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test-project:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.13'}}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "dev@example.com"
        git config --global user.name "Jongsu Liam Kim"

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        version: "0.9.21"

    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}

    - name: Install the project
      run: uv tool install copier

    - name: Test project generation and workflow (Run on Linux)
      if: runner.os == 'Linux'
      run: |
        CI=1 PYTHON_VERSION=${{ matrix.python-version }} bash tests/test_project.sh

    - name: Test project generation and workflow (Run on macOS)
      if: runner.os == 'macOS'
      run: |
        CI=1 PYTHON_VERSION=${{ matrix.python-version }} bash tests/test_project.sh

    - name: Test project generation and workflow (Run on Windows)
      if: runner.os == 'Windows'
      run: |
        pwsh -Command tests/test_project.ps1 -CI -PythonVersion '${{ matrix.python-version }}'
